<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Welcome To CFM Address Books</title>
</head>
<body>
	<div align="center" style="background-color: green; margin: auto;width:50%; ">
		<div>
			<p>Welcome to CFM Address Books</p>
		</div>
		
		
		<div>
			<a href="api/list_all_addressbooks">List All AddressBooks</a>
		</div>
		
		<div>
			
		</div>
		
		<div sec:authorize="hasAnyAuthority('ADMIN')">
		    <a href="manager/api/admin_list_all_addressbooks">Manager List All AddressBooks</a>
		</div>
		
		
		<div>
			<form action="#" th:action="@{/logout}">
			<button type="submit">logout</button>
			</form>

		</div>
	</div>
</body>
</html>